{{ define "views/register.html" }}
<!DOCTYPE HTML>
<html>
<head>
<title>Purple_loginform Website Template | Home :: w3layouts</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>
<body>
<!-- contact-form -->	
<div class="message warning">
<div class="inset">
	<div class="login-head">
		<h1>问答系统用户注册</h1>
		 <div class="alert-close"> </div> 			
	</div>
		<form method="POST" action="/register">
			<li>
				<input type="text" class="text" value="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}"><a href="#" class=" icon user"></a>
			</li>
				<div class="clear"> </div>
			<li>
				<input type="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}"> <a href="#" class="icon lock"></a>
			</li>
			<li>
				<input type="password" value="repassword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '再次输入密码';}"> <a href="#" class="icon lock"></a>
			</li>
			<li>
				<input type="text" value="nickname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '昵称';}"> <a href="#" class="icon lock"></a>
			</li>
			<div class="clear"> </div>
			<div class="submit">
				<input type="submit" onclick="myFunction()" value="注册" >	
			</div>
				
		</form>
		</div>					
	</div>
	</div>
	<div class="clear"> </div>
<!--- footer --->
<div class="footer">
	<p>Copyright &copy; 2014.</p>
</div>

</body>
</html>
{{end}}